.nameLogo{
	opacity: 0;
}

.start-logo{
	transform-origin: 50% 25%;
}

.firstStage{
	transform-origin: 3% 28%;
}

#dfk-logo{
	opacity: 1;
	stroke: #FFF;
}

#start-logo{
	opacity: 0;
}

#landing{
	background: url("pics/sf.jpg");
	background-position: 0% 40%;
	height:100vh;
	width:auto;
	background-size: cover;
	text-align:center;
	padding: 25vh 15vh;
	display:block;
}

#logo-div{
	vertical-align:middle; 
   	display: table-cell;
}
