body{
	font-family: 'Roboto', sans-serif;
  padding-top: 0px; 
  background-color: #FFF;
  color: #FFF;
}

#web-icon{
  filter: invert(100%);
}

.navname {
  opacity:0;
  transition:all 2s;
}

.mainpage{
  opacity:0;
  transition:all 2s;
}

.navlinks {
  opacity:0;
  transition:all .5s;
  transform:translateY(-30%);
}

.slide-in{
  opacity:0;
  transition:all .5s;
  transform:translateX(-30%);
}

.fade-in{
  opacity:0;
  transition:all .5s;
}

.slide-in.active{
  opacity:1;
  transform:translateX(0%);
}

.fade-in.active{
  opacity:1;
  transform:translateX(0%);
}

.active{
  opacity:1;
  transform:translateX(0%);
}

.navbar{
    background-color: #000;
    border-color: #000;
}

.navbar-header {
  margin-top: 5px;
}

.navbar .nav > li > a {
    color: #FFF;
    font-size: 18px;
    padding: 20px;
}
.navbar .nav > li > a:hover {
    color: #111314;
}

.navbar .nav > li > a:active {
    color: #000;
}

.navbar .nav > li > a:focus {
  background-color: #000;
  color: #FFF
}

.navbar-brand {
    padding: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
  margin-bottom: 0px;
}

#dfkLogoNav{
	height:40px;
  width: auto;
}

.content-width-div{
  display: inline-block;
}

.navbar .navbar-collapse {
  text-align: center;
}

.dark-section { 
	background-color: #111314;
	color: #FFF;
}

.dark-section.intro{ 
	padding: 5% 0;
}

.contact-icon {
  margin-right: 10px;
  margin-top: 20px;
  color: #0D47A1;
}

.white-section{
  background-color: #FFF;
  color: #000;
  padding: 50px 0;
}

.background-section.col-md-4.content {
  padding-left: 20px;
}

#skills{
  margin-left: 30px;
}

#nu_full{
  min-width: 100%;
  height: auto;
}

.edu-section{
  display: block;
  margin-bottom: 10px;
}

.edu-info{
  display: inline-block;
}

.tech-icons{
	margin: 40px 0;
}

.img-tech{
  width: auto;
  height: 75px;
}

hr{
  height: 4px;
  margin: 1px 0;
  border-top: 3px solid #0D47A1;
  width: 100%;
}

h2{
  margin-top: 10px;
}

h3{
  margin-top: 0;
}

.container.section{
  padding-top: 30px;
  padding-bottom: 30px;
}

.raleway{ 
  font-family: 'Raleway', sans-serif;
}

.about-box{
  padding: 15px;
  margin-bottom: 50px;
  display: flex;
}

.about-icon{
  margin: auto;
}

.about-text{
  float: left;
  margin-right: 30px;
}

td {
  padding-right: 10px;
  text-align: left; 
}

th{
    padding: 3px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
  	padding-left: 15px;
}

.about-text.right{
  float: right;
  margin-left: 30px;
}

.raleway.right{
  float: right;
}

.skill-list{
  list-style-type: none;
  padding-left: 20px;
}

.fa-circle{
  color: #0D47A1;
}

.connect-dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0D47A1;
  display: block;
  position: relative;
  top: 125%
}

.ggb {
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(pics/ggb.jpg);
    height: auto;
    color: #000;
    padding-bottom: 50px;
}

.container.section.exp-title{ padding-bottom: 0px; }

.content{
  padding-left: 0px;
  padding-right: 0px;
}

.exp-box{
  width:50%;
  margin: 25px 20px;
  margin-bottom: 20px;
}

#dfk_pic{
	width: 300px;
  height: auto;
	vertical-align: middle;
  margin-left: 30px;
  margin-top: 20px;
}

.top-bar{
	 background-color: #383838;
   padding: 0px;
   padding-left: 20px;
   border-top-right-radius: 1em;
   border-radius: 1em;
}

.rob-slab.bar{ margin-top: 10px; }

.white.project{ margin-bottom:30px; }

.project-box{
  padding: 25px;
  padding-top: 10px;
  height: 100%;
  background-color: #191919;
  border-radius: 1em;
  transition: all .2s ease-in-out;
}

.project-box:hover { transform: scale(1.05); }

.left-box{ padding-right: 15px; }

.right-box{ padding-left: 15px; }

.bar{ margin-bottom: 10px; }

.project-pic{
	height: auto;
  width: 100%;
  margin-bottom: 10px;
}
.project-pic-two{
  width: auto;
  height: 160px;
  margin-bottom: 10px;
}

#kfcams{
  height: auto;
  width: 90%;
}

.insta-links{
  margin-top: 20px;
}

#insta-link{
  color: #000;
  margin: 0 0;
  line-height: 1.3;
}

#mech{
  height: auto;
  width: 90%;
}


.row{
  margin-right: 0px;
  margin-left: 0px;
  }

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.tech-boxes{
    margin-top: 20px;
}

.tech-used{
  border: 1.5px solid #e7e7e7;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}

.project-row {
  margin-bottom: 30px;
}

.instagram-section{
	margin-bottom: 20px;
}

.soundcloud-row{
  padding: 20px 12px;
}

.score-thumbnail{
  width: 100%;
  height: auto;
}

.score-title{
  height: 45px;
  width: 100%;
}

.scores-row{
  margin-bottom: 30px;
}

.score-container{
  position: relative;
}

.compositions-intro{
  margin-bottom: 20px;
}

.score-overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.score-container:hover .score-overlay {
  bottom: 0;
  height: 100%;
}

.download-icon{
  white-space: nowrap; 
  color: white;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.music-links-row{
  text-align: center;
  padding: 10px;
}

.contact-bottom{
  padding: 10px;
  color: #000;
  transition: .5s ease;
  color: #0D47A1;
}

.contact-bottom:hover{
  transform: scale(1.2);
  transform: translateY(-10px);
}