body{
	font-family: 'Roboto', sans-serif;
  padding-top: 65px; 
  background-color: #000;
  color: #FFF;
}

#namebanner{
  background-color: #000;
  transition:all 1s;
  display: flex;
  align-items: center;
  padding-top: 10%; 
}

.navname {
  opacity:0;
  transition:all 2s;
}

.mainpage{
  opacity:0;
  transition:all 2s;
}

.navlinks {
  opacity:0;
  transition:all .5s;
  transform:translateY(-30%);
}

.slide-in{
  opacity:0;
  transition:all .5s;
  transform:translateX(-30%);
}

.slide-in.active{
  opacity:1;
  transform:translateX(0%);
}

.active{
  opacity:1;
  transform:translateX(0%);
}

.navbar-default {
    background-color: #000;
    border-color: #000;
}

.navbar .nav > li > a {
    color: #FFF;
    font-size: 18px;
    margin-top: 18px;
}
.navbar .nav > li > a:hover {
    color: #D1D0CD;
}

.navbar-default .navbar-brand {
    color: #FFF;
    font-size: 40px;
    margin-top: 10px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
  margin-bottom: 0px;
}

.content-width-div{
  display: inline-block;
}

.navbar .navbar-collapse {
  text-align: center;
}

.dark-section{
  background-color: #191919;
}

.red-section{
  background-color: #631712;
  color:#FFF;
}

.light-section{
  background-color:  #2980B9;
}

.ggb-section{
  color:#FFF;
}

hr{
  height: 4px;
  margin: 3px 0;
}

hr.white{
 	border-top: 3px solid #ECF0F1;
  width: 100%;
}

hr.black{
  border-top: 3px solid #191919;
}

.light-header{
  color: #2C3E50;
}

.container.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.rob-slab{
  font-family: 'Roboto Slab', serif;
}

.ggb {
    position: relative;
    background-attachment: fixed;
    background-position: 0px 0px;;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(ggb.jpg);
    height: auto;
    padding-bottom: 80px;
}

.container.section.exp-title{
  padding-bottom: 0px;
}

.content{
  padding-left: 0px;
  padding-right: 0px;
}

.exp-box{
  width:50%;
  margin: 0 20px;
}

#dfk_pic{
	width: 80%;
  height: auto;
  margin-top: 60px;
}

.project-box{
  background-color: #000;
  padding: 15px;
  min-height: 100%;
}

.left-box{
  padding-right: 15px;
}

.right-box{
  padding-left: 15px;
}


.project-pic{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
  }

.intro-text{
  width: 60%;
  margin-top: 0px;
}

p{
  font-size: 1.15em;
  color: #e7e7e7;
}

.dark-text{
  color: #191919;
}
.project-row {
  margin-bottom: 30px;
}